[submodule "cheat/community"]
	path = cheat/community
	url = https://github.com/cheat/cheatsheets.git
[submodule "cheat/personal"]
	path = cheat/personal
	url = https://github.com/Kazanami/mycheat-list.git
