[submodule "cheat/community"]
	path = cheat/community
	url = https://github.com/cheat/cheatsheets.git
[submodule "cheat/personal"]
	path = cheat/personal
	url = https://github.com/Kazanami/mycheat-list.git
	branch = main
[submodule "libexec/dotfiles-manager"]
	path = libexec/dotfiles-manager
	url = https://github.com/Kazanami/dotfiles-manager.git
	branch = main
